**Steps for BaniDB API py**

-Return all as objects
-Provide more info
-Improved search (len(query)>=3 or error)
-Sample apps
-Upload packages to Pypi
-Exploring platforms for Python
-Raags are important
-Nested functions for shabad Id (can work just in discord)

**New

-Local Cache for ShabadId according to the releases (Check shabadId).
-Limit on cache history.
-Add len(x)>=3
-Readme should contain teeka option
-Make descriptive variables
-Use the link's common part as global var
-Work for history
-test naming to be improved test_search_good and ang >1430
-bad test replies
o Improve test with mark
o use magicmock for unit test
o input and output 
o use code linters (flake8)
o use descriptive vars
